[project]
name = "crypto-prices"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "alembic>=1.17.2",
    "httpx>=0.28.1",
    "sqlalchemy>=2.0.44",
]

[dependency-groups]
dev = [
    "ty>=0.0.1a29",
]


[tool.ty.rules]